/* *Code Structure *
1)nav
2)modal
3)responsive
*/

/* ---------------
1)nav
 -----------------*/
.head .logo img{
    width: 3rem;
    height: 3rem;
}
.flex{
    display: flex;
}
ul{
    gap: 5rem;
}
.head{
    justify-content:space-between;
    position: absolute;
    top: 2.1rem;
    right: 2rem;
    left: 4rem;
    z-index: 111;
}
.icon-user{
    color: white;
    font-size: 1.5rem;
    margin-top:0.2rem;
}
.icon-close{
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.icon-close:hover{
    color: rgba(255, 197, 39, 1);    
    font-size: 1.6rem;
    rotate: 180deg;
}
.head nav ul li a{
    transition: all 0.4s;
    color: white;
}
.head nav ul li a:hover{
    color: rgba(255, 197, 39, 1);
}
.head nav ul .activee a{
    color: rgba(255, 197, 39, 1);
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

/* ---------------
2)modal
 -----------------*/
 .head .fixedd{
    position: fixed;
    inset: 0;
    z-index: 222;
    background-color: rgba(40, 40, 48, 0.91) ;

 }
@keyframes close {
    0% {scale:0;}
    60% {scale:1.2;}
    100% {scale: 1;}
}

 .head .fixedd ul.modall{
    animation: close .77s 1;
    width: 85%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: rgba(34, 34, 34, 1);
 }
 .head .fixedd ul.modall li{
    border-bottom: 1px solid rgba(63, 63, 70, 0.4) ;
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
 }
 .head .fixedd ul.modall li:first-child{
    text-align: left;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 0.2rem;
 }
 .head .fixedd ul.modall li:last-child{
    border-bottom: none;
 }
 .head .fixedd ul.modall a{
    color: white;
    transition: all 0.3s;
 }
 .head .fixedd ul.modall a:hover{
    color: rgba(255, 197, 39, 1);
 }
.head button.menu{
    display: none;
    font-size: 2.3rem;
    color: white;
    cursor: pointer;
}

/* ---------------
3)responsive
 -----------------*/
@media(max-width:700px){
    .head nav,.icon-user {
        display: none;
    }
    .head button.menu{
        display: block;
    }
}



